<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>SpruceSSL</string>
	<key>CFBundleIdentifier</key>
	<string>com.MrGeckosMedia.${PRODUCT_NAME:rfc1034Identifier}</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2010 Mr. Gecko&apos;s Media (James Coleman). All rights reserved. http://mrgeckosmedia.com/</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSPrincipalClass</key>
	<string>MGMSpruceSSL</string>
	<key>SIMBLTargetApplications</key>
	<array>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.apple.Safari</string>
			<key>MaxBundleVersion</key>
			<string>6533</string>
			<key>MinBundleVersion</key>
			<string>4525</string>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>de.icab.iCab</string>
			<key>MaxBundleVersion</key>
			<string>6.0</string>
			<key>MinBundleVersion</key>
			<string>4.8</string>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>*</string>
			<key>MaxBundleVersion</key>
			<string>90000000</string>
			<key>MinBundleVersion</key>
			<string>0</string>
		</dict>
	</array>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://mrgeckosmedia.com/applications/appcast/SpruceSSL</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>MGMSupported</key>
	<array>
		<string>com.apple.Safari</string>
		<string>org.webkit.nightly.WebKit</string>
		<string>de.icab.iCab</string>
		<string>com.fluidapp.FluidInstance.</string>
		<string>com.iindigo3d.surfDude</string>
		<string>com.omnigroup.OmniWeb5</string>
		<string>com.JMM.SplitBrowser</string>
		<string>com.app4mac.GiddyUp</string>
		<string>com.app4mac.wkioskApp</string>
		<string>com.cruzapp.Cruz</string>
	</array>
</dict>
</plist>
